#deck {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 10%;

    box-shadow: 3px 3px 15px #000000;
    background-color: #9c999e8e;
    width: 80%;
    height: 30vh;
    border-radius: 5px 5px 0 0;
    font-family: "Roboto";
    font-size: 50px;
    text-align: center;
    color: #bbbbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rozdaj {
    margin: 1rem;
    z-index: 2;
}
#rozdaj > button {
    padding: 1rem;
    cursor: pointer;
}
